<div class="container vh-100 ">
  <div class="row   h-100 justify-content-between align-items-center ">
    <div class="col-md-4 col-sm-12 p-3 text-center">
      <div class="card " >
        <img src="../../../assets/images/gallery-02.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Instructor</h5>
          <p class="card-text">
            I’m a Instructor, looking for work
          </p>
          <a routerLink="/register" (click)="instructorRole()" class="btn">Sign-up</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 p-3 text-center">
      <div class="card " >
        <img src="../../../assets/images/gallery-01.png" class="card-img-top" alt="...">
        <div class="card-body   text-center">
          <h5 class="card-title">Student</h5>
          <p class="card-text">
            I’m a Student, looking for Learning.
          </p>
          <a routerLink="/register" class="btn" (click)="userRole()" >Sign up</a>
        </div>
      </div>
    </div>
    
  </div>
</div>